<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCAjOUdEGlc1fe-HvS799Lx2L4nj1OF6hQ</string>
	<key>GCM_SENDER_ID</key>
	<string>809927899811</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daman.iotdemoflutter</string>
	<key>PROJECT_ID</key>
	<string>iotdemoflutter</string>
	<key>STORAGE_BUCKET</key>
	<string>iotdemoflutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809927899811:ios:766f67407caefaa8441d16</string>
</dict>
</plist>